numpy~=1.23.5
opencv-python~=4.7.0.68
loguru
scikit-image
scikit-learn~=1.2.1
tqdm~=4.64.1
torchvision>=0.10.0
Pillow~=9.4.0
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
matplotlib~=3.7.0
scipy~=1.10.0
prettytable
easydict
tensorboard
pyyaml~=6.0
yacs
termcolor
gdown
onnx==1.8.1
onnxruntime==1.8.0
onnx-simplifier==0.3.5


pandas~=1.5.3
mxnet~=1.9.1
gluoncv~=0.10.5.post0
pytest~=7.1.2
tensorflow~=2.12.0
keras~=2.12.0
torch~=2.0.0+cu118
seaborn~=0.12.2
yaml~=0.2.5
requests~=2.28.1